*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

button {
    border: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

.flex-col {
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.content-end {
    justify-content: flex-end;
}

.content-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.mx-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;

    @media (max-width: 1200px) {
        max-width: 1140px;
    }

    @media (max-width: 992px) {
        max-width: 960px;
    }

    @media (max-width: 768px) {
        max-width: 720px;
    }

    @media (max-width: 767px) {
        max-width: 720px;
    }

    @media (max-width: 576px) {
        max-width: 540px;
    }
}