<header class="bg-primary">
    <div class="container">
        <nav class="d-flex content-between items-center py-4">
            <a href="index.html">
                <img src="/assets/images/logo-white.png" style="width: 80px;" alt="logo-white">
            </a>
            <ul class="menu-md-lg d-flex">
                <li class="ps-16"><a class="h-5 text-light" href="product.html">系列鏡框</a></li>
                <li class="ps-16"><a class="h-5 text-light" href="store.html">門市據點</a></li>
                <li class="ps-16"><a class="h-5 text-light" href="blog.html">部落格</a></li>
                <li class="ps-16"><a class="h-5 text-light" href="fqa.html">常見問題</a></li>
            </ul>
        </nav>
    </div>
    <ul class="menu-sm d-none">
        <li class="text-center"><a class="text-light py-3" href="product.html">系列鏡框</a></li>
        <li class="text-center"><a class="text-light py-3" href="store.html">門市據點</a></li>
        <li class="text-center"><a class="text-light py-3" href="blog.html">部落格</a></li>
        <li class="text-center"><a class="text-light py-3" href="fqa.html">常見問題</a></li>
    </ul>
</header>