<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>眼鏡官網</title>
    <script src="./js/jquery-3.7.0.min.js"></script>
    <script src="./js/all.js"></script>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="blog-style bg-primary-dark">
            <div class="container">
                <nav class="blog-nav-lg d-flex content-between items-center">
                    <ul class="blog-nav d-flex content-between items-center">
                        <li><a class="h-5 h-sm-4 fw-bold text-light px-6" href="#">最新消息</a></li>
                        <li><a class="h-5 h-sm-4 fw-bold text-light px-6" href="#">特別企劃</a></li>
                        <li><a class="h-5 h-sm-4 fw-bold text-light px-6" href="#">新品上市</a></li>
                        <li><a class="h-5 h-sm-4 fw-bold text-light px-6" href="#">鏡框小知識</a></li>
                    </ul>
                    <div class="search-style d-flex items-center">
                        <input class="px-3 me-2 d-none" type="search" name="search" id="search" placeholder="搜尋">
                        <div class="search d-flex content-center items-center text-light"><span
                                class="material-symbols-outlined">
                                search
                            </span>
                        </div>
                    </div>
                </nav>
                <ul class="blog-nav-sm d-none content-between items-center">
                    <li><a class="h-4 fw-bold text-light" href="#">最新消息</a></li>
                    <li><a class="h-4 fw-bold text-light" href="#">特別企劃</a></li>
                    <li><a class="h-4 fw-bold text-light" href="#">新品上市</a></li>
                    <li><a class="h-4 fw-bold text-light" href="#">鏡框小知識</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <nav class="blog-breadcrumb mt-6 mt-md-2 mt-xs-4 mb-2">
                <ol class="breadcrumb d-flex">
                    <li class="breadcrumb-item d-flex divider"><a class="active-color-none text-dark" href="#">首頁</a>
                    </li>
                    <li class="breadcrumb-item d-flex divider"><a class="active-color-none text-dark" href="#">部落格</a>
                    </li>
                    <li class="breadcrumb-item d-flex divider"><a class="active-color-none text-dark" href="#">特別企劃</a>
                    </li>
                    <li class="breadcrumb-item"><a class="active-color text-dark" href="#">情人特別企劃</a></li>
                </ol>
                <div class="title-tag d-flex mb-2">
                    <h4 class="h-6 fw-bold text-primary me-4">#special</h4>
                    <h4 class="h-6 fw-bold text-primary">#event</h4>
                </div>
            </nav>
        </div>
        <div class="container pb-20 pb-xs-12">
            <div class="content d-flex">
                <div class="article col-8 px-3">
                    <div class="article-text mb-4 mb-md-6 mb-xs-4">
                        <h2 class="h-12 h-xs-6 text-left">情人特別企劃</h2>
                        <h4 class="h-6 h-xs-4 fw-medium">2020 Valentine’s Special</h4>
                    </div>
                    <div class="content-card mb-10 mb-md-6 mb-xs-4">
                        <img class="mb-2 mb-md-4" src="../assets/images/blogpage-1.png" alt="blogpage-1">
                        <p class="text-gray-dark text-justify">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS
                            CLASSIC
                            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                    <div class="content-card mb-10 mb-md-6 mb-xs-4">
                        <img class="mb-2 mb-md-4" src="../assets/images/blogpage-2.png" alt="blogpage-2">
                        <p class="text-gray-dark text-justify">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS
                            CLASSIC
                            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                    <div class="content-card mb-10 mb-md-6 mb-xs-4">
                        <img class="mb-2 mb-md-4" src="../assets/images/blogpage-3.png" alt="blogpage-3">
                        <p class="text-gray-dark text-justify">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS
                            CLASSIC
                            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                    </div>
                    <div class="content-card mb-10 mb-md-6 mb-xs-4">
                        <img class="mb-2 mb-md-4" src="../assets/images/blogpage-4.png" alt="blogpage-4">
                        <p class="text-gray-dark text-justify">2/14(五)-2/20(日) <br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個
                            <br>期間優惠還有~~持他牌鏡框更換鏡片 <br>薄型非球面鏡片折300元
                            <br>濾藍光鏡片折500元 <br>快快帶上另一半
                            讓彼此每一次睜開眼，都被愛的視線包圍!
                        </p>
                    </div>
                </div>
                <div class="tags col-4 px-3">
                    <div class="tags-style d-flex items-center">
                        <div class="span-style d-flex content-center items-center me-2 me-md-0">
                            <span class="text-primary material-symbols-outlined">
                                label
                            </span>
                        </div>
                        <h3 class="h-8 h-md-6 text-primary fw-bold">TAGS</h3>
                    </div>

                    <div class="tags-text-style">
                        <ul class="tags-text">
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">special</li>
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">sale</li><br>
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">new_item</li>
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">interview</li><br>
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">trivia</li>
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">news</li><br>
                            <li class="h-6 h-md-4 d-inline-block text-primary fw-bold me-6 mb-1">event</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="share d-flex items-center pb-4">
                <small class="fw-bold me-4">Share</small>
                <ul class="share-logo d-flex">
                    <li class="me-4"><a href="#"><img src="../assets/images/logo-facebook.png" alt="logo-facebook"></a>
                    </li>
                    <li class="me-4"><a href="#"><img src="../assets/images/logo-instagram.png"
                                alt="logo-instagram"></a>
                    </li>
                </ul>
            </div>

            <div class="pagination-arrow d-flex content-between mt-6">
                <a class="previous-page text-dark d-flex" href="#">
                    <div class="span-style d-flex content-center items-center me-2">
                        <span class="material-symbols-outlined">
                            arrow_back
                        </span>
                    </div>
                    <h5 class="d-inline">上一篇：街頭潮人訪問 1</h5>
                </a>
                <a class="next-page text-dark d-flex" href="#">
                    <h5 class="d-inline">下一篇：街頭潮人訪問 2</h5>
                    <div class="span-style d-flex content-center items-center ms-2">
                        <span class="material-symbols-outlined">
                            arrow_forward
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../js/main.js"></script>

</body>

</html>