<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <!-- <script type="module" src="../node_modules/jquery"></script> -->
    <!-- <script src="./js/all.js"></script> -->
    <!-- <link href="../node_modules/material-symbols/index.css" rel="stylesheet" /> -->
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- session-1 -->
    <div class="session-1">
      <div class="container d-flex content-end items-center">
        <div class="text d-flex flex-col">
          <h3 class="h-9 h-sm-6 h-xs-4 text-primary-dark self-end">
            Promise-Desert 2020 早春系列
          </h3>
          <h1 class="h-16 h-sm-11 -xs-6 fw-bold text-primary-dark self-end">
            看得清，才能看得遠
          </h1>
          <button class="h-5 bg-primary text-light self-end px-3 mt-1">
            立即購買
          </button>
        </div>
      </div>
    </div>
    <!-- session-2 -->
    <div class="bg-primary-tint session-2 py-20 py-sm-10">
      <div class="container">
        <h2
          class="title h-12 h-sm-9 h-xs-6 h-sm-9 text-center -xs-6 fw-bold text-primary-dark"
        >
          用專業的心，做專業的事
        </h2>
        <ul class="card d-flex content-between mt-6">
          <li class="card-list col-3 d-flex flex-col items-center px-3">
            <div class="icon d-flex content-center items-center">
              <span class="material-symbols-outlined text-primary-dark">
                paid
              </span>
            </div>
            <div class="text mt-4">
              <h4 class="h-6 fw-bold text-center text-primary-dark">
                單一價格
              </h4>
              <p class="mt-2 text-justify">
                無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
              </p>
            </div>
          </li>
          <li class="card-list col-3 d-flex flex-col items-center px-3">
            <div class="icon d-flex content-center items-center">
              <span class="material-symbols-outlined text-primary-dark">
                watch_later
              </span>
            </div>
            <div class="text mt-4">
              <h4 class="h-6 fw-bold text-center text-primary-dark">
                20分鐘即可取件
              </h4>
              <p class="mt-2 text-justify">
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </div>
          </li>
          <li class="card-list col-3 d-flex flex-col items-center px-3">
            <div class="icon d-flex content-center items-center">
              <span class="material-symbols-outlined text-primary-dark">
                favorite_border
              </span>
            </div>
            <div class="text mt-4">
              <h4 class="h-6 fw-bold text-center text-primary-dark">
                安心售後服務
              </h4>
              <p class="mt-2 text-justify">
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </div>
          </li>
          <li class="card-list col-3 d-flex flex-col items-center px-3">
            <div class="icon d-flex content-center items-center">
              <span class="material-symbols-outlined text-primary-dark">
                voicemail
              </span>
            </div>
            <div class="text mt-4">
              <h4 class="h-6 fw-bold text-center text-primary-dark">
                關於鏡片
              </h4>
              <p class="mt-2 text-justify">
                使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- session-3 -->
    <div class="container session-3 py-20 py-sm-10">
      <h2
        class="title h-12 h-sm-9 h-xs-6 fw-bold text-center text-primary-dark"
      >
        經典系列鏡框
      </h2>
      <ul class="img d-flex content-between mt-12 mt-sm-6">
        <li class="img-list col-4 px-3 mb-lg-6">
          <img src="../assets/images/home-section3-1.png" alt="model-1" />
          <h2 class="h-12 fw-black text-center text-primary mt-2">OPTICAL</h2>
        </li>
        <li class="img-list col-4 px-3 mb-lg-6">
          <img src="../assets/images/home-section3-2.png" alt="model-2" />
          <h2 class="h-12 fw-black text-center text-primary mt-2">
            SUNGLASSES
          </h2>
        </li>
        <li class="img-list col-4 px-3 mb-lg-6">
          <img src="../assets/images/home-section3-3.png" alt="model-3" />
          <h2 class="h-12 fw-black text-center text-primary mt-2">
            FUNCTIONAL
          </h2>
        </li>
      </ul>
    </div>
    <!-- session-4 -->
    <div class="session-4 py-20 py-sm-10">
      <div class="container">
        <h2 class="title h-12 h-sm-9 h-xs-6 fw-bold text-center text-light">
          聯名設計鏡框
        </h2>
        <ul class="d-flex content-between mt-12 mt-sm-6">
          <li class="pb-md-6">
            <img
              src="../assets/images/home-section4-1.png"
              alt="model-product-1"
            />
            <h2 class="h-12 fw-black text-center bg-light text-primary">
              DOUBLE A+
            </h2>
          </li>
          <li class="pb-md-6">
            <img
              src="../assets/images/home-section4-2.png"
              alt="model-product-2"
            />
            <h2 class="h-12 fw-black text-center bg-light text-primary">
              YOUTH
            </h2>
          </li>
        </ul>
      </div>
    </div>
    <!-- session-5 -->
    <div class="container session-5 py-20 py-sm-10">
      <h2
        class="title h-12 h-sm-9 h-xs-6 fw-bold text-center text-primary-dark"
      >
        顧客推薦
      </h2>
      <ul class="card d-flex content-between mt-12 mt-sm-6">
        <div
          class="card-style col-3 bg-light d-flex flex-col px-3 px-lg-3 mb-lg-6 mb-sm-4"
        >
          <li class="card-list">
            <img src="../assets/images/home-section5-1.png" alt="product1" />
            <div class="text py-4 px-4 d-flex flex-col content-between">
              <div class="content-text">
                <h5>Jessy</h5>
                <p class="mt-2">眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <small class="text-gray">2021/06/20</small>
            </div>
          </li>
        </div>
        <div
          class="card-style col-3 bg-light d-flex flex-col px-3 px-lg-3 mb-lg-6 mb-sm-4"
        >
          <li class="card-list">
            <img src="../assets/images/home-section5-2.png" alt="product2" />
            <div class="text py-4 px-4 d-flex flex-col content-between">
              <div class="content-text">
                <h5>凱倫</h5>
                <p class="mt-2">
                  做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                </p>
              </div>
              <small class="text-gray">2021/04/18</small>
            </div>
          </li>
        </div>
        <div
          class="card-style col-3 bg-light d-flex flex-col px-3 px-lg-3 mb-lg-6 mb-sm-4"
        >
          <li class="card-list">
            <img src="../assets/images/home-section5-3.png" alt="product1" />
            <div class="text py-4 px-4 d-flex flex-col content-between">
              <div class="content-text">
                <h5>悠悠</h5>
                <p class="mt-2">
                  謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                </p>
              </div>
              <small class="text-gray">2021/12/25</small>
            </div>
          </li>
        </div>
        <div
          class="card-style col-3 bg-light d-flex flex-col px-3 px-lg-3 mb-lg-6 mb-sm-4"
        >
          <li class="card-list">
            <img src="../assets/images/home-section5-4.png" alt="product1" />
            <div class="text py-4 px-4 d-flex flex-col content-between">
              <div class="content-text">
                <h5>Kyuan</h5>
                <p class="mt-2">服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <small class="text-gray">2020/10/31</small>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <!-- session-6 -->
    <div class="bg-primary-tint session-6 py-20 py-sm-10">
      <div class="container">
        <div class="form-style d-flex flex-col content-center items-center">
          <h2
            class="title h-12 h-sm-9 h-xs-6 fw-bold text-center text-primary-dark"
          >
            聯絡我們
          </h2>
          <form class="col-6 mt-12 mt-md-6">
            <p class="h-5 h-md-4 text-justify mb-6">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <div class="form-group d-flex flex-col mb-4">
              <label for="name">姓名</label>
              <input
                class="mt-2 ps-3"
                name="name"
                id="name"
                type="text"
                placeholder="陳小明"
              />
            </div>
            <div class="form-group d-flex flex-col mb-4">
              <label for="tel">聯絡電話</label>
              <input
                class="mt-2 ps-3"
                name="tel"
                id="tel"
                type="tel"
                placeholder="0912-345-678"
              />
            </div>
            <div class="form-group d-flex flex-col mb-4">
              <label for="email">電子郵件</label>
              <input
                class="mt-2 ps-3"
                name="email"
                id="email"
                type="email"
                placeholder="example@email.com"
              />
            </div>
            <div class="form-group d-flex flex-col mb-4">
              <label for="suggestion">意見反應</label>
              <textarea
                class="mt-2 ps-3"
                name="suggestion"
                id="suggestion"
                placeholder="請輸入您的意見"
              ></textarea>
            </div>
            <div class="form-group d-flex mb-4">
              <input name="agree" id="agree" type="checkbox" />
              <label class="ms-1" for="agree"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>
            <a
              class="d-block self-center text-center text-light bg-primary fw-bold py-4 mt-12 mt-xs-6 mx-auto"
              href="#"
              >確認送出</a
            >
          </form>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/all.js"></script>
  </body>
</html>
