<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <!-- <script src="./js/jquery-3.7.0.min.js"></script>
    <script src="./js/all.js"></script> -->
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <ul class="nav-lg bg-light d-flex content-between">
        <li class="nav-item text-center col-4">
          <a
            class="active-none text-dark h-8 fw-medium py-6"
            href="product.html"
            >OPTICAL</a
          >
        </li>
        <li class="nav-item text-center col-4">
          <a
            class="active-border text-dark h-8 fw-medium py-6"
            href="product-pages.html"
            >SUNGLASSES</a
          >
        </li>
        <li class="nav-item text-center col-4">
          <a class="active-none text-dark h-8 fw-medium py-6" href="#"
            >FUNCTIONAL</a
          >
        </li>
      </ul>
    </div>
    <ul class="nav-md-sm bg-light d-none content-between">
      <li class="nav-item text-center col-4">
        <a
          class="active-none text-dark h-6 h-sm-4 fw-medium py-4"
          href="product.html"
          >OPTICAL</a
        >
      </li>
      <li class="nav-item text-center col-4">
        <a
          class="active-border text-dark h-6 h-sm-4 fw-medium py-4"
          href="product-pages.html"
          >SUNGLASSES</a
        >
      </li>
      <li class="nav-item text-center col-4">
        <a class="active-none text-dark h-6 h-sm-4 fw-medium py-4" href="#"
          >FUNCTIONAL</a
        >
      </li>
    </ul>
    <div class="bg-img d-flex">
      <div class="img-3"></div>
      <div class="img-4"></div>
    </div>

    <div class="container product-info py-20 py-xs-10">
      <h2 class="fw-medium text-center">2020 NEW COLLECTION</h2>
      <h3 class="h-8 h-xs-6 text-center">賽璐珞鈦金屬混合鏡框</h3>
      <ul class="card-product d-flex content-between mt-8 mt-xs-6">
        <li class="card-list-product col-4 px-3 pb-20 pb-md-10 pb-xs-6">
          <a href="#"
            ><img src="../assets/images/product-7.png" alt="product01"
          /></a>
          <div class="text d-flex content-between">
            <h4 class="h-6">BJ41600S</h4>
            <h4 class="h-6 text-primary text-right fw-medium">NTD3,490</h4>
          </div>
          <div class="color d-flex">
            <div class="color-1 me-2"></div>
            <div class="color-2 me-2"></div>
          </div>
        </li>
        <li class="card-list-product col-4 px-3 pb-20 pb-md-10 pb-xs-6">
          <a href="#"
            ><img src="../assets/images/product-8.png" alt="product02"
          /></a>
          <div class="text d-flex content-between">
            <h4 class="h-6">BJ41600S</h4>
            <h4 class="h-6 text-primary text-right fw-medium">NTD3,490</h4>
          </div>
          <div class="color d-flex">
            <div class="color-1 me-2"></div>
            <div class="color-2 me-2"></div>
          </div>
        </li>
        <li class="card-list-product col-4 px-3 pb-20 pb-md-10 pb-xs-6">
          <a href="#"
            ><img src="../assets/images/product-9.png" alt="product03"
          /></a>
          <div class="text d-flex content-between">
            <h4 class="h-6">BJ41600S</h4>
            <h4 class="h-6 text-primary text-right fw-medium">NTD3,490</h4>
          </div>
          <div class="color d-flex">
            <div class="color-1 me-2"></div>
            <div class="color-2 me-2"></div>
          </div>
        </li>
        <li class="card-list-product col-4 px-3 pb-20 pb-md-10 pb-xs-6">
          <a href="#"
            ><img src="../assets/images/product-10.png" alt="product04"
          /></a>
          <div class="text d-flex content-between">
            <h4 class="h-6">BJ41600S</h4>
            <h4 class="h-6 text-primary text-right fw-medium">NTD3,490</h4>
          </div>
          <div class="color d-flex">
            <div class="color-1 me-2"></div>
            <div class="color-2 me-2"></div>
          </div>
        </li>
        <li class="card-list-product col-4 px-3 pb-20 pb-md-10 pb-xs-6">
          <a href="#"
            ><img src="../assets/images/product-11.png" alt="product05"
          /></a>
          <div class="text d-flex content-between">
            <h4 class="h-6">BJ41600S</h4>
            <h4 class="h-6 text-primary text-right fw-medium">NTD3,490</h4>
          </div>
          <div class="color d-flex">
            <div class="color-1 me-2"></div>
            <div class="color-2 me-2"></div>
          </div>
        </li>
        <li class="card-list-product col-4 px-3 pb-20 pb-md-10 pb-xs-6">
          <a href="#"
            ><img src="../assets/images/product-12.png" alt="product06"
          /></a>
          <div class="text d-flex content-between">
            <h4 class="h-6">BJ41600S</h4>
            <h4 class="h-6 text-primary text-right fw-medium">NTD3,490</h4>
          </div>
          <div class="color d-flex">
            <div class="color-1 me-2"></div>
            <div class="color-2 me-2"></div>
          </div>
        </li>
      </ul>
      <ul class="pagination d-flex content-center mt-md-10 mb-xs-6">
        <div class="d-inline-block">
          <li class="d-inline-block">
            <a
              class="pages-previous-next text-dark text-center py-3 px-3"
              href="#"
              >上一頁</a
            >
          </li>
          <li class="d-inline-block">
            <a
              class="pages-item text-dark text-center py-3 px-4 px-xs-3"
              href="#"
              >1</a
            >
          </li>
          <li class="d-inline-block">
            <a
              class="pages-item text-dark text-center py-3 px-4 px-xs-3"
              href="#"
              >2</a
            >
          </li>
          <li class="d-inline-block">
            <a
              class="pages-item text-dark text-center py-3 px-4 px-xs-3"
              href="#"
              >3</a
            >
          </li>
          <li class="d-inline-block">
            <a
              class="pages-item text-dark text-center py-3 px-4 px-xs-3"
              href="#"
              >4</a
            >
          </li>
          <li class="d-inline-block">
            <a
              class="pages-item text-dark text-center py-3 px-4 px-xs-3"
              href="#"
              >5</a
            >
          </li>
          <li class="d-inline-block">
            <a
              class="pages-previous-next text-dark text-center py-3 px-3"
              href="#"
              >下一頁</a
            >
          </li>
        </div>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
