<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <script src="./js/jquery-3.7.0.min.js"></script>
    <script src="./js/all.js"></script>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container py-20 py-xs-10">
            <h2 class="title-border h-12 h-xs-6 fw-bold text-left ps-3 mt-4 mt-md-0">門市據點</h2>
            <div class="location col-4 d-flex items-center mt-8 mt-xs-6 mb-10 mb-xs-6">
                <h4 class="h-6 h-xs-4 text-left">選擇地區</h4>
                <div class="dropdown d-flex content-between ms-4 ms-xs-2 px-3">
                    <h5 class="text-dark">台北市</h5>
                    <div class="span-style d-flex content-center items-center">
                        <span class="material-symbols-outlined">
                            arrow_drop_down
                        </span>
                    </div>
                </div>
            </div>
            <ul class="card-store d-flex">
                <div class="card-store-style col-4 px-3 mb-12 mb-md-6">
                    <li class="card-store-list">
                        <img src="../assets/images/store-1.png" alt="store1">
                        <h4 class="h-6 text-left py-2 px-6">台北中山旗艦店</h4>
                        <div class="text py-4 px-6">
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="phone material-symbols-outlined">
                                        phone
                                    </span>
                                </div>
                                <h5 class="h-5">電話：(02)000-1234</h5>
                            </div>
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="time material-symbols-outlined">
                                        schedule
                                    </span>
                                </div>
                                <h5 class="h-5">營業時間：10:00-21:00</h5>
                            </div>
                            <div class="h-5 d-flex mb-0">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="address material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                                <h5 class="h-5">地址：台北市中山區南京東路25巷2-1號</h5>
                            </div>
                        </div>
                        <a class="bg-dark text-light text-center py-4" href="store-info.html">詳細資訊</a>
                    </li>
                </div>
                <div class="card-store-style col-4 px-3 mb-12 mb-md-6">
                    <li class="card-store-list">
                        <img src="../assets/images/store-2.png" alt="store1">
                        <h4 class="h-6 text-left py-2 px-6">台北綠園店</h4>
                        <div class="text py-4 px-6">
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="phone material-symbols-outlined">
                                        phone
                                    </span>
                                </div>
                                <h5 class="h-5">電話：(02)000-1234</h5>
                            </div>
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="time material-symbols-outlined">
                                        schedule
                                    </span>
                                </div>
                                <h5 class="h-5">營業時間：10:00-21:00</h5>
                            </div>
                            <div class="h-5 d-flex mb-0">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="address material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                                <h5 class="h-5">地址：台北市中正區復興南路 132-1 號</h5>
                            </div>
                        </div>
                        <a class="bg-dark text-light text-center py-4" href="/pages/store-info.html">詳細資訊</a>
                    </li>
                </div>
                <div class="card-store-style col-4 px-3 mb-12 mb-md-6">
                    <li class="card-store-list">
                        <img src="../assets/images/store-3.png" alt="store1">
                        <h4 class="h-6 text-left py-2 px-6">台中清水旗艦店</h4>
                        <div class="text py-4 px-6">
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="phone material-symbols-outlined">
                                        phone
                                    </span>
                                </div>
                                <h5 class="h-5">電話：(02)000-1234</h5>
                            </div>
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="time material-symbols-outlined">
                                        schedule
                                    </span>
                                </div>
                                <h5 class="h-5">營業時間：10:00-21:00</h5>
                            </div>
                            <div class="h-5 d-flex mb-0">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="address material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                                <h5 class="h-5">地址：台中市清水區經南一路 23 號 8 樓</h5>
                            </div>
                        </div>
                        <a class="bg-dark text-light text-center py-4" href="/pages/store-info.html">詳細資訊</a>
                    </li>
                </div>
                <div class="card-store-style col-4 px-3 mb-12 mb-md-6">
                    <li class="card-store-list">
                        <img src="../assets/images/store-4.png" alt="store1">
                        <h4 class="h-6 text-left py-2 px-6">高雄中正形象店</h4>
                        <div class="text py-4 px-6">
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="phone material-symbols-outlined">
                                        phone
                                    </span>
                                </div>
                                <h5 class="h-5">電話：(02)000-1234</h5>
                            </div>
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="time material-symbols-outlined">
                                        schedule
                                    </span>
                                </div>
                                <h5 class="h-5">營業時間：10:00-21:00</h5>
                            </div>
                            <div class="h-5 d-flex mb-0">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="address material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                                <h5 class="h-5">地址：高雄市苓雅區中正路 38 號 12 樓</h5>
                            </div>
                        </div>
                        <a class="bg-dark text-light text-center py-4" href="/pages/store-info.html">詳細資訊</a>
                    </li>
                </div>
                <div class="card-store-style col-4 px-3 mb-12 mb-md-6">
                    <li class="card-store-list">
                        <img src="../assets/images/store-5.png" alt="store1">
                        <h4 class="h-6 text-left py-2 px-6">高雄夢時代店</h4>
                        <div class="text py-4 px-6">
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="phone material-symbols-outlined">
                                        phone
                                    </span>
                                </div>
                                <h5 class="h-5">電話：(02)000-1234</h5>
                            </div>
                            <div class="h-5 d-flex mb-2">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="time material-symbols-outlined">
                                        schedule
                                    </span>
                                </div>
                                <h5 class="h-5">營業時間：10:00-21:00</h5>
                            </div>
                            <div class="h-5 d-flex mb-0">
                                <div class="span-style d-flex content-center me-2">
                                    <span class="address material-symbols-outlined">
                                        location_on
                                    </span>
                                </div>
                                <h5 class="h-5">地址：高雄市前鎮區中華一路 63 號 6 樓</h5>
                            </div>
                        </div>
                        <a class="bg-dark text-light text-center py-4" href="/pages/store-info.html">詳細資訊</a>
                    </li>
                </div>
            </ul>
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../js/main.js"></script>
</body>

</html>